body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  overflow-x: hidden;
}

h1 {
  font-family: "El Messiri", sans-serif;
  font-size: 120px;
  line-height: 1.4;
  color: aliceblue;
}

h2 {
  font-size: 28px;
}

section {
  padding: 50px 50px;
}
main {
  background-color: #f9f6ee;
}
main h2 {
  color: #818589;
  font-size: 30px;
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 3px;
  opacity: 0.5;
  text-transform: uppercase;
}

main h3 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.5;
  color: #1b1212;
  margin: 0;
}

main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #1b1212;
  opacity: 0.8;
}

.hero-container h1 {
  margin-top: 100px;
}

.hero-container h2 {
  position: relative;
  top: -60px;
  color: aliceblue;
}

.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/godfather-bg-1.jpg");
  width: 100%;
  height: 600px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero-btn {
  display: inline-block;
  text-align: center;
  border: 2px solid aliceblue;
  padding: 15px 20px;
  margin-top: 30px;
}

.hero-btn a {
  text-decoration: none;
  color: aliceblue;
}
/* The director section */
.director-bg {
  background-color: #f9f6ee;
}
.director-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 10px 0;
}

.grid-2-column {
  grid-template-columns: 1fr 1fr;
}
/* Footer */
.footer-container {
  padding: 0 70px;
}
/* Character section */
.images-container {
  background-color: #fff8dc;
  text-align: center;
}

.image-content {
  margin: 40px 0;
}

.character-heading h2 {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  padding: 80px 0;
  color: #1b1212;
  letter-spacing: 2px;
}

.character-sub-heading {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 2;
  color: #1b1212;
}

.heading-border {
  border: 60px solid;
  border-image: url("../images/film-border.png") 160;
  box-shadow: -40px 49px 35px 3px rgba(0, 0, 0, 0.2);
}
.character-image {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.circle-container {
  position: relative;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #1b1212;
  overflow: hidden;
  border-radius: 50%;
  width: 250px;
  height: 0;
  opacity: 0.8;
  transition: 2s ease;
}

.circle-container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.image-text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.grid-3-column-with-images {
  grid-template-columns: repeat(3, 2fr);
}
/* CAST CARD SECTION */

.cast-card {
  background: #f9f6ee;
}

.text-center {
  text-align: center;
}

.card-image-1,
.card-image-2 {
  display: block;
  width: 200px;
  height: 190px;
}

.card-vito {
  max-height: 1000px;
}

.card-james {
  max-height: 1040px;
}
.grid-card {
  display: grid;
}
.grid-3-columns-card {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.card {
  background: #fff8dc;
  margin: 30px 0;
}
.card-body {
  padding: 30px;
}

main h4 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  text-transform: capitalize;
  line-height: 2;
}

main h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  margin: 0;
}

.card-btn {
  display: block;
  color: white;
  background: #1b1212;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.card-header {
  display: flex;
}

.card-footer-1,
.card-footer-2,
.card-footer-3 {
  margin-top: 40px;
}
/* Location cards */
.location-card {
  background: #fff8dc;
}

.card-location {
  background: #f9f6ee;
  margin: 30px 0;
}

.embed {
  width: 100%;
  aspect-ratio: 16/9;
}

.card-scene-1 {
  max-height: 870px;
}

.card-scene-2 {
  max-height: 1100px;
}

.card-scene-3 {
  max-height: 860px;
}

/* PHOTO GALLERY SECTION*/

.gallery-bg {
  background-color: #f9f6ee;
}
.grid-photo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 36px;
  grid-row-gap: 36px;
}
.grid-3-column-photos {
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
}

.img-responsive-gallery {
  display: block;
  border: 3px solid #818589;
  width: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: all 200ms ease-in-out;
  transition: transform 0.5s ease-in-out, filter 3000ms ease-in-out;
}
.img-responsive-gallery:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  cursor: pointer;
}

footer {
  color: aliceblue;
  background-image: linear-gradient(
      rgba(27, 18, 18, 0.9),
      rgba(27, 18, 18, 0.8)
    ),
    url("../images/godfather-footer-image.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

footer p {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.9;
  line-height: 1.5;
}
footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer a {
  color: aliceblue;
  opacity: 0.7;
}

.grid-3-column-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid {
  display: grid;
  grid-gap: 60px;
}

/* **************************** */
@media (max-width: 1024px) {
  .grid-card {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .card-image-1 {
    display: none;
  }

  .card-image-2 {
    width: 100%;
    height: auto;
  }

  .card {
    margin: 20px 120px;
  }

  .card-location {
    margin: 20px 120px;
  }

  .embed {
    width: 100%;
    aspect-ratio: 16/9;
  }

  .card-vito {
    max-height: 1200px;
  }

  .card-james {
    max-height: 1300px;
  }

  .card-scene-1 {
    max-height: 1200px;
  }

  .card-scene-2 {
    max-height: 1300px;
  }
  .card-scene-3 {
    max-height: 1000px;
  }
}

@media (max-width: 960px) {
  .hero-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../images/mobile-bg.png");
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .grid-card {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .grid-3-column-photos {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .grid-3-columns-card {
    grid-template-columns: 1fr;
    width: 100%;
  }

  section {
    padding: 30px;
  }

  .embed {
    aspect-ratio: 21/9;
  }

  .img-responsive-gallery {
    width: 100%;
    height: auto;
  }

  .grid-3-columns-card {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  footer {
    background-image: linear-gradient(
        rgba(27, 18, 18, 0.9),
        rgba(27, 18, 18, 0.9)
      ),
      url("../images/godfather-footer-2.png");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (max-width: 768px) {
  .card-image-1 {
    display: none;
  }

  .card-image-2 {
    width: 100%;
  }

  .card {
    margin: 20px 100px;
  }

  .card-location {
    margin: 20px 100px;
  }

  .embed {
    width: 100%;
    aspect-ratio: 16/9;
  }

  .photo-gallery-container {
    margin: 20px 35px;
  }
}

@media (max-width: 684px) {
  h1 {
    font-size: 70px;
    line-height: 1;
  }

  .hero-container h2 {
    font-size: 25px;
    position: relative;
    top: -20px;
    color: aliceblue;
  }

  .hero-btn {
    font-size: 12px;
    padding: 20px 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}

@media (max-width: 667px) {
  h1 {
    font-size: 70px;
    line-height: 1;
  }

  .hero-container h2 {
    font-size: 25px;
    position: relative;
    top: -20px;
    color: aliceblue;
  }

  .hero-btn {
    font-size: 12px;
    padding: 20px 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .photo-gallery-container {
    margin: 20px 35px;
  }
}

/* Mobile device: eg. IPHONE XR */
@media (max-width: 414px) {
  h1 {
    font-size: 35px;
    line-height: 1;
  }

  .hero-container h2 {
    font-size: 16px;
    position: relative;
    top: -20px;
    color: aliceblue;
  }

  .hero-btn {
    font-size: 12px;
    padding: 8px 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .grid-2-column {
    grid-template-columns: 1fr;
  }

  main h2 {
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    line-height: 1;
  }

  main h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
  }

  main h4 {
    font-size: 20px;
    line-height: 1;
  }

  .heading-border {
    border-image: none;
    border: none;
    box-shadow: none;
  }

  .character-heading h2 {
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
  }

  .character-sub-heading {
    font-size: 25px;
    line-height: 1;
    margin-top: 60px;
  }

  .card-image-1 {
    display: none;
  }

  .card-image-2 {
    width: 100%;
  }

  .card {
    margin: 20px;
  }

  .card-location {
    margin: 20px;
  }

  .card-vito {
    max-height: 1200px;
  }

  .card-james {
    max-height: 1300px;
  }

  .card-scene-1 {
    max-height: 1200px;
  }

  .card-scene-2 {
    max-height: 1300px;
  }
  .card-scene-3 {
    max-height: 1000px;
  }
}
/* Mobile device: eg. SAMSUNG S21 */
@media (max-width: 384px) {
  h1 {
    font-size: 35px;
    line-height: 1;
  }

  .hero-container h2 {
    font-size: 16px;
    position: relative;
    top: -20px;
    color: aliceblue;
  }

  .hero-btn {
    font-size: 12px;
    padding: 8px 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .grid-2-column {
    grid-template-columns: 1fr;
  }

  main h2 {
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    line-height: 1;
  }

  main h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
  }

  main h4 {
    font-size: 20px;
    line-height: 1;
  }

  .heading-border {
    border-image: none;
    border: none;
    box-shadow: none;
  }

  .character-heading h2 {
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
  }

  .character-sub-heading {
    font-size: 25px;
    line-height: 1;
    margin-top: 60px;
  }

  .card-image-1 {
    display: none;
  }

  .card-image-2 {
    width: 100%;
  }

  .card-vito {
    max-height: 1200px;
  }

  .card-james {
    max-height: 1300px;
  }

  .card-scene-1 {
    max-height: 1200px;
  }

  .card-scene-2 {
    max-height: 1300px;
  }
  .card-scene-3 {
    max-height: 1000px;
  }
}

/* Mobile device: eg. 375px*/
@media (max-width: 375px) {
  main h3 {
    font-size: 22px;
    line-height: 1.5;
  }

  main h4 {
    font-size: 20px;
    line-height: 1.5;
  }

  main h5 {
    font-size: 16px;
    line-height: 2;
  }
  .card {
    margin: 20px;
  }

  .card-location {
    margin: 20px;
  }

  .card-vito,
  .card-james {
    max-height: 1300px;
  }

  .card-scene-1 {
    max-height: 1200px;
  }

  .card-scene-2 {
    max-height: 1400px;
  }
  .card-scene-3 {
    max-height: 1200px;
  }
}

/* Mobile device: eg. SAMSUNG S8 */
@media (max-width: 360px) {
  h1 {
    font-size: 35px;
    line-height: 1;
  }

  .hero-container h2 {
    font-size: 16px;
    position: relative;
    top: -20px;
    color: aliceblue;
  }

  .hero-btn {
    font-size: 12px;
    padding: 8px 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .grid-2-column {
    grid-template-columns: 1fr;
  }

  main h2 {
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    line-height: 1;
  }

  main h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
  }

  .heading-border {
    border-image: none;
    border: none;
    box-shadow: none;
  }

  .character-heading h2 {
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
  }

  .character-sub-heading {
    font-size: 25px;
    line-height: 1;
    margin-top: 60px;
  }

  .card-image-1 {
    display: none;
  }

  .card-image-2 {
    width: 100%;
  }

  .card-vito,
  .card-james {
    max-height: 1300px;
  }

  .card-scene-1 {
    max-height: 1200px;
  }

  .card-scene-2 {
    max-height: 1400px;
  }
  .card-scene-3 {
    max-height: 1000px;
  }

  main h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
  }
  footer {
    background-image: linear-gradient(
        rgba(27, 18, 18, 0.9),
        rgba(27, 18, 18, 0.9)
      ),
      url("../images/godfather-footer-2.png");
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
/* Mobile device: eg. SAMSUNG S9 */
@media (max-width: 320px) {
  .card-vito,
  .card-james {
    max-height: 1500px;
  }

  .card-scene-1 {
    max-height: 1400px;
  }

  .card-scene-2 {
    max-height: 1500px;
  }
  .card-scene-3 {
    max-height: 1000px;
  }
}
